{% extends "base.html" %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Confirm Deletion</h5>
          </div>
          <div class="card-body">
            <p>Are you sure you want to delete your account "**{{ worker.get_full_name }}**"?</p>
            <form method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Yes, delete</button>
              <a href="{% url 'scope_flow:task-list' pk=user.pk %}" class="btn btn-secondary">Cancel</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}