asgiref==3.9.1
certifi==2025.8.3
charset-normalizer==3.4.3
crispy-bootstrap4==2025.6
defusedxml==0.7.1
Django==5.2.5
django-admin-material-dashboard==1.0.22
django-bootstrap-icons==0.9.0
django-crispy-forms==2.4
django-environ==0.12.0
flake8==7.3.0
idna==3.10
mccabe==0.7.0
pycodestyle==2.14.0
pyflakes==3.4.0
requests==2.32.4
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
